body {
  margin: 0;
}
footer {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 1158px;
}

/* Web Studio Logo */

.web-studio-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.span-studio {
  color: #2e2f42;
}

/* Studio/Portfolio/Contacts */

.nav-link {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.nav-link:hover {
  color: #404bbf;
}
.nav-link:focus {
  color: #404bbf;
}

/* Email / Phone */
.header-adress {
  font-style: normal;
}
.nav-info {
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
}
.nav-info:hover {
  color: #404bbf;
}
.nav-info:focus {
  color: #404bbf;
}

/* Body */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
/* Effective Solution Section*/
.effective-solution {
  background: #2e2f42;
}

.effective-sol-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

/* Button Settings */
.button-sol {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
}
.button-sol:hover {
  background: #404bbf;
}
.button-sol:focus {
  background-color: #404bbf;
}
/* Benefits Section */
.benefits {
  background-color: #fff;
}
.ben-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.ben-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Team Section / Our Portfolio Section */
.team {
  background-color: #f4f4fd;
}
.li-section {
  background-color: #ffffff;
}
.main-section-name {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.section-name {
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-size: 20px;
  font-weight: 500;
  color: #2e2f42;
}
.section-paragraph {
  color: #434455;
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-size: 16px;
}
/* Footer */
.footer-section {
  background-color: #2e2f42;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.span-studio-footer {
  color: #f4f4fd;
}
.footer-paragraph {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
