body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
footer {
  margin: 0;
}
img {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Web Studio Logo */
.header-nav {
  display: flex;
  width: 100%;
  flex-grow: 1;
  justify-content: space-between;
}
.header-container {
  display: flex;
}
.web-studio-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.span-studio {
  color: #2e2f42;
}

.nav-link {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.nav-link:hover {
  color: #404bbf;
}
.nav-link:focus {
  color: #404bbf;
}
.nav-ul {
  display: flex;
  gap: 40px;
}
.nav-adress {
  display: flex;
  gap: 40px;
  margin-left: 332px;
}

/* Email / Phone */
.nav-info {
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
}
.nav-info:hover {
  color: #404bbf;
}
.nav-info:focus {
  color: #404bbf;
}

/* Body */

/* Effective Solution Section*/
.effective-solution {
  background: #2e2f42;
}

.effective-sol-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  padding-top: 188px;
  padding-right: 472px;
  padding-left: 472px;
  margin-bottom: 48px;
  padding-bottom: 292px;
}

/* Button Settings */
.button-sol {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
}
.button-sol:hover {
  background: #404bbf;
}
.button-sol:focus {
  background-color: #404bbf;
}
/* Benefits Section */
.benefits {
  background-color: #fff;
  padding-top: 120px;
  padding-bottom: 120px;
}
.ben-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.ben-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Team Section / Our Portfolio Section */
.team {
  background-color: #f4f4fd;
  padding-bottom: 120px;
}
.li-section {
  background-color: #ffffff;
}
.main-section-name {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  padding-top: 120px;
  margin-bottom: 72px;
}
.section-name {
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-size: 20px;
  font-weight: 500;
  color: #2e2f42;
}
.section-paragraph {
  color: #434455;
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-size: 16px;
}
.portfolio-item {
  margin-bottom: 48px;
}
/* Footer */
.footer-section {
  background-color: #2e2f42;
  padding-top: 101.5px;
  padding-bottom: 189.5px;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.span-studio-footer {
  color: #f4f4fd;
}
.footer-paragraph {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  margin-top: 17.5px;
}
